graft docs
graft src
graft ci
graft tests

include .github/workflows/github-actions.yml
include .github/workflows/pre-commit.yml
include .pre-commit-config.yaml
include .bumpversion.cfg
include .coveragerc
include .cookiecutterrc
include .editorconfig

include AUTHORS.rst
include CHANGELOG.rst
include CONTRIBUTING.rst
include LICENSE
include README.rst
include tox.ini

global-exclude *.py[cod] __pycache__/* *.so *.dylib

include requirements.txt
