interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www1.nfe.fazenda.gov.br/NFeDistribuicaoDFe/NFeDistribuicaoDFe.asmx?wsdl
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<wsdl:definitions xmlns:s=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:soap12=\"http://schemas.xmlsoap.org/wsdl/soap12/\" xmlns:http=\"http://schemas.xmlsoap.org/wsdl/http/\"
        xmlns:mime=\"http://schemas.xmlsoap.org/wsdl/mime/\" xmlns:tns=\"http://www.portalfiscal.inf.br/nfe/wsdl/NFeDistribuicaoDFe\"
        xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\" xmlns:tm=\"http://microsoft.com/wsdl/mime/textMatching/\"
        xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\" targetNamespace=\"http://www.portalfiscal.inf.br/nfe/wsdl/NFeDistribuicaoDFe\"
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">\r\n  <wsdl:types>\r\n    <s:schema
        elementFormDefault=\"qualified\" targetNamespace=\"http://www.portalfiscal.inf.br/nfe/wsdl/NFeDistribuicaoDFe\">\r\n
        \     <s:element name=\"nfeDistDFeInteresse\">\r\n        <s:complexType>\r\n
        \         <s:sequence>\r\n            <s:element minOccurs=\"0\" maxOccurs=\"1\"
        name=\"nfeDadosMsg\">\r\n              <s:complexType mixed=\"true\">\r\n
        \               <s:sequence>\r\n                  <s:any />\r\n                </s:sequence>\r\n
        \             </s:complexType>\r\n            </s:element>\r\n          </s:sequence>\r\n
        \       </s:complexType>\r\n      </s:element>\r\n      <s:element name=\"nfeDistDFeInteresseResponse\">\r\n
        \       <s:complexType>\r\n          <s:sequence>\r\n            <s:element
        minOccurs=\"0\" maxOccurs=\"1\" name=\"nfeDistDFeInteresseResult\">\r\n              <s:complexType
        mixed=\"true\">\r\n                <s:sequence>\r\n                  <s:any
        />\r\n                </s:sequence>\r\n              </s:complexType>\r\n
        \           </s:element>\r\n          </s:sequence>\r\n        </s:complexType>\r\n
        \     </s:element>\r\n    </s:schema>\r\n  </wsdl:types>\r\n  <wsdl:message
        name=\"nfeDistDFeInteresseSoapIn\">\r\n    <wsdl:part name=\"parameters\"
        element=\"tns:nfeDistDFeInteresse\" />\r\n  </wsdl:message>\r\n  <wsdl:message
        name=\"nfeDistDFeInteresseSoapOut\">\r\n    <wsdl:part name=\"parameters\"
        element=\"tns:nfeDistDFeInteresseResponse\" />\r\n  </wsdl:message>\r\n  <wsdl:portType
        name=\"NFeDistribuicaoDFeSoap\">\r\n    <wsdl:operation name=\"nfeDistDFeInteresse\">\r\n
        \     <wsdl:input message=\"tns:nfeDistDFeInteresseSoapIn\" />\r\n      <wsdl:output
        message=\"tns:nfeDistDFeInteresseSoapOut\" />\r\n    </wsdl:operation>\r\n
        \ </wsdl:portType>\r\n  <wsdl:binding name=\"NFeDistribuicaoDFeSoap\" type=\"tns:NFeDistribuicaoDFeSoap\">\r\n
        \   <soap:binding transport=\"http://schemas.xmlsoap.org/soap/http\" />\r\n
        \   <wsdl:operation name=\"nfeDistDFeInteresse\">\r\n      <soap:operation
        soapAction=\"http://www.portalfiscal.inf.br/nfe/wsdl/NFeDistribuicaoDFe/nfeDistDFeInteresse\"
        style=\"document\" />\r\n      <wsdl:input>\r\n        <soap:body use=\"literal\"
        />\r\n      </wsdl:input>\r\n      <wsdl:output>\r\n        <soap:body use=\"literal\"
        />\r\n      </wsdl:output>\r\n    </wsdl:operation>\r\n  </wsdl:binding>\r\n
        \ <wsdl:binding name=\"NFeDistribuicaoDFeSoap12\" type=\"tns:NFeDistribuicaoDFeSoap\">\r\n
        \   <soap12:binding transport=\"http://schemas.xmlsoap.org/soap/http\" />\r\n
        \   <wsdl:operation name=\"nfeDistDFeInteresse\">\r\n      <soap12:operation
        soapAction=\"http://www.portalfiscal.inf.br/nfe/wsdl/NFeDistribuicaoDFe/nfeDistDFeInteresse\"
        style=\"document\" />\r\n      <wsdl:input>\r\n        <soap12:body use=\"literal\"
        />\r\n      </wsdl:input>\r\n      <wsdl:output>\r\n        <soap12:body use=\"literal\"
        />\r\n      </wsdl:output>\r\n    </wsdl:operation>\r\n  </wsdl:binding>\r\n
        \ <wsdl:service name=\"NFeDistribuicaoDFe\">\r\n    <wsdl:port name=\"NFeDistribuicaoDFeSoap\"
        binding=\"tns:NFeDistribuicaoDFeSoap\">\r\n      <soap:address location=\"https://www1.nfe.fazenda.gov.br/NFeDistribuicaoDFe/NFeDistribuicaoDFe.asmx\"
        />\r\n    </wsdl:port>\r\n    <wsdl:port name=\"NFeDistribuicaoDFeSoap12\"
        binding=\"tns:NFeDistribuicaoDFeSoap12\">\r\n      <soap12:address location=\"https://www1.nfe.fazenda.gov.br/NFeDistribuicaoDFe/NFeDistribuicaoDFe.asmx\"
        />\r\n    </wsdl:port>\r\n  </wsdl:service>\r\n</wsdl:definitions>"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <soap-env:Envelope xmlns:soap-env="http://schemas.xmlsoap.org/soap/envelope/"><soap-env:Header><nfeCabecMsg
      xmlns="http://www.portalfiscal.inf.br/nfe/wsdl/"><cUF>SP</cUF><versaoDados>1.00</versaoDados></nfeCabecMsg></soap-env:Header><soap-env:Body><ns0:nfeDistDFeInteresse
      xmlns:ns0="http://www.portalfiscal.inf.br/nfe/wsdl/NFeDistribuicaoDFe"><ns0:nfeDadosMsg><distDFeInt
      xmlns="http://www.portalfiscal.inf.br/nfe" versao="1.01"><tpAmb>1</tpAmb><cUFAutor>35</cUFAutor><CNPJ>23765766000162</CNPJ><consChNFe><chNFe>35200309091076000144550010001807401003642343</chNFe></consChNFe></distDFeInt></ns0:nfeDadosMsg></ns0:nfeDistDFeInteresse></soap-env:Body></soap-env:Envelope>'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      SOAPAction:
      - '"http://www.portalfiscal.inf.br/nfe/wsdl/NFeDistribuicaoDFe/nfeDistDFeInteresse"'
    method: POST
    uri: https://www1.nfe.fazenda.gov.br/NFeDistribuicaoDFe/NFeDistribuicaoDFe.asmx
  response:
    body:
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Header><WSCorIDSOAPHeader
        CorID="E54B8CD1C8C6EFB5033F1B4700000000,1:1,0,0,SPCDSRVV4733|.NET Process|NFeDistribuicaoDFe|WebServices|Server|http_//www.portalfiscal.inf.br/nfe/wsdl/NFeDistribuicaoDFe|nfeDistDFeInteresse,1,AgAAALNIQgAAAAFGAAAAAQAAABFqYXZhLnV0aWwuSGFzaE1hcAAAAAJIQgAAAAJGAAAAAgAAABBqYXZhLmxhbmcuU3RyaW5nAA9DYWxsZXJUaW1lc3RhbXBIQgAAAANFAAAAAgANMTYwNTg2OTczNTEyMUhCAAAABEUAAAACAApUeG5UcmFjZUlkSEIAAAAFRQAAAAIAIUU1NEI4QzQ0QzhDNkVGQjUwMzNGMUI0NzAwMDAwMDAwMA=="
        xmlns="http://www.ca.com/apm" /></soap:Header><soap:Body><nfeDistDFeInteresseResponse
        xmlns="http://www.portalfiscal.inf.br/nfe/wsdl/NFeDistribuicaoDFe"><nfeDistDFeInteresseResult><retDistDFeInt
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        versao="1.01" xmlns="http://www.portalfiscal.inf.br/nfe"><tpAmb>1</tpAmb><verAplic>1.2.1</verAplic><cStat>137</cStat><xMotivo>Nenhum
        documento localizado</xMotivo><dhResp>2020-11-20T07:55:35-03:00</dhResp></retDistDFeInt></nfeDistDFeInteresseResult></nfeDistDFeInteresseResponse></soap:Body></soap:Envelope>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
